  </div>

<div class="footer mt50">
  <p class="tc">关于本站 | 免责声明 | 合作伙伴 | 联系信息</p>
  <p class="tc">©2008-2014 天天书屋  沪ICP备08115174号</p>
</div>

<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/book.js"></script>
<script src="/javascripts/moment.min.js"></script>
</body> 
</html>