<% include header.html %>


  <div class="row">
    <div class="host_wrap cleafix">
      <h3 class="text-center ">热门榜</h3>
      <ul class="hots_list ">
        <% for(var i=0; i<json.length; i++) {%>
          <li class="host_<%= i %>"><a title="<%= json[i].name %>" href="/detail/<%= json[i].bid %>"><img src="<%= json[i].image %>" width="150" alt=""></a></li>
        <% } %>
      </ul>
      </div>
  </div>
  <div class="row">
    <div class="category_wrap">
      <h3 class="text-center ">标签集</h3>
      <ul class="category_list">
        <% for(var i=0; i< categories.length; i++) {%>
          <li class=""><a href="/category/<%= categories[i].name %>" style="font-size:<%= arrfs[i]%>px" ><%= categories[i].name %></a></li>
        <% } %>
      </ul>
    </div>
  </div>


<% include footer.html %>
