<% include header.html %>

  <div class="row showSignin">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="user-m">用户注册</h2>
    	<form method="POST" id="signupForm" action="/user/signup" class="form-horizontal">
            <div class="form-group">
        		<div class="form-group">
        			<label for="singupName" class="col-sm-3 control-label">用户名</label>
                    <div class="col-sm-6 form-pa">
        			     <input type="text" autocomplete="off" class="form-control stringCheck" id="singupName" name="username">
                    </div>
        		</div>
        		<div class="form-group">
        			<label for="singupPassword" class="col-sm-3 control-label">密码</label>
                    <div class="col-sm-6 form-pa">
        			 <input type="password" autocomplete="off" class="form-control " id="singupPassword" name="password">
                    </div>	
                </div>
                <div class="form-group">
                    <label for="singupRPassword" class="col-sm-3 control-label">确认密码</label>
                    <div class="col-sm-6 form-pa">
                     <input type="password" autocomplete="off" class="form-control " id="singupRPassword" name="Rpassword">
                    </div>  
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">邮箱地址</label>
                    <div class="col-sm-6 form-pa">
                     <input type="text" autocomplete="off" class="form-control" id="email" name="email">
                    </div>  
                </div>
                
    		</div>
            <div class="col-sm-3"></div>
            <div class="col-sm-6"><input type="submit" class="btn btn-signup btn-success" value="注册"><a href="/signin">已有帐号？去登录</a></div>
    		
    	</form>
    </div>
  </div>

  
<% include footer.html %>